#source [find interface/stlink.cfg]
source [find interface/cmsis-dap.cfg]
transport select swd
# -c options exempli gratia "gdb flash_program enable"
source [find target/stm32f1x.cfg]
# -f as if called from command line
# openocd -f openocd.cfg -c "init; reset halt; stm32f1x mass_erase 0; reset; shutdown"
#telnet localhost 4444 > reset halt > stm32f1x mass_erase 0 > reset > exit

